<div class="jumbotron">
	<h1><%= @bid.receiver.username %> doesn't need to complete the bid. CRI.</h1>
	<h2>And doesn't want to run it back. Double cri</h2>
	<h3>But it's okay because Lucy cries every time.</h3><%= image_tag "lucy.jpg", :width => 250, :height => 250 %><br>
	<%= link_to 'Go back to Profile', current_user, class: "btn btn-info" %>
	<%= link_to 'Go back to Bids', bids_path, class: "btn btn-info" %>
</div>