<h1> Bid Creation Page </h1>


	
		
    		<%= text_field_tag :q, params[:q], class: "form-control", placeholder: "Search" %> 
		</div>
	<% end %>
<% end %>


<!-- create a new challenge in our bids path with the tag for which friend  -->

  <%= c.label :content, "Challenge!" %>
  <%= c.text_area :content, :size => "30x20" %>
