<% if Bid.all != [] %>
  <% if @received_bids.empty? %>
    <div class="jumbotron">
      <h3>No bids have been received.<h3>
    </div>
   <% else %>
    <%= render 'received_table' %> 
  <% end %>
  <% if @sent_bids.empty? %>
    <div class="jumbotron">
      <h3>No bids have been sent.<h3>
    </div>
    <% else %>
      <%= render 'sent_table' %>  
  <% end %>
  <% else %>
    <div class="jumbotron">
      <h1>You have 0 bids. Do Better.<h1>
    </div>  
<% end %>



