<!-- the user profile -->


<!-- twitter bootstrap: grid system, default themes on the left column I need user image, status, about fields and bid button -->
<div class="prof_col">
	<%=image_tag("example_image.png", alt: "Example Image")%><br>
	<h5> Where the legendary status bar will be.</h5><br>
	<ul>
		<li>About</li>
		<%= link_to 'Edit', edit_user_path %>
	</ul>
</div>