	
<!-- twitter bootstrap: grid system, default themes on the left column I need user image, status, about fields and bid button -->
	<div class="row">
		<div class="col-md-4">			
			<%= image_tag current_user.profile_pic.url(:medium) %>
			
			<h5> Where the legendary status bar will be.</h5><br>
			<%= link_to 'Make Bid', edit_bid_path(@bid), class: "btn btn-primary btn-lg" %>
			<%= link_to 'Show Bids', bids_path, class: "btn btn-primary btn-lg" %>
			<input type="text" class="form-control" placeholder="About Me">
		</div>
		<div class="col-md-8">
			<h4>Where the biddies go.</h4>
		</div>
	</div>

