
<div class="container">
	<% @friends.each do |f| %>
		<div class="friends">
			<span ><%= link_to f.username.titleize, user_path(f), class: "something_wierd" %></span>
			<span><%= link_to 'delete friend', friendship_path(f), method: :delete, class: "btn-black btn-xs pull-right"  %></span>
		</div>
	<% end %>
	<br><br>
	<%= link_to 'Add Friends', new_friendship_path,  class: "btn btn-black" %>
</div>