<% @friends.each do |f| %>
	<p><%= f.username %> <%= link_to 'delete friend', friendship_path(f), {:method => :delete}  %></p>
<% end %>

<%= link_to 'Add Friends', new_friendship_path,  class: "btn btn-primary btn-lg" %>

