

<br>
<h2>Search for a user to add</h2>
<br>

<%= form_tag(users_path, method: "get", class: "navbar-form") do %>
              <%= text_field_tag :q, params[:q], placeholder: "Search Users" , class: "form-control" %>
              <% end %>