<!-- home page woohoo -->
<!-- style the image itself so it is page specific -->

<body class="homes_index">
	<head>
	<link rel="stylesheet" type ="text/css" href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,600' rel='stylesheet' type='text/css'>
	</head>
	<div class="row">
		<div class="col-mid-5">
			<p id="h_title">YOU<br> WON'T.</p>
			<p id="small_title">Legends never die</p><br>
		</div>	
		<div class="col-mid-5">
			
		</div>

	</div>	
</div>





	
	

