<!-- home page woohoo -->


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<nav> 
		<ul class="nav navbar-nav">
			<li><a href="users/sign_in">Login</a></li>
	        <li><a href="users/sign_up">Sign up</a></li>
	    </ul>
	</nav>
</head>
<body>
	<h2>Odds Are</h2>
	<h4> -Legends never die</h4>

</body>
</html>