<!-- home page woohoo -->
<!-- style the image itself so it is page specific -->
<%= image_tag "storm_moon.jpg", class: "bg-img" %>
<head>
	<link rel="stylesheet" type ="text/css" href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,600' rel='stylesheet' type='text/css'>
</head>

<div class="home_title">
	<p id="h_title">YOU<br> WON'T.</p>
	<p id="small_title">Legends never die</p>
	
</div>
	
	

