/*background-image:url('/images/storm_moon.jpg');*/

.homes_index{
	background-color: black;
	
}

body.homes_index{
	background-color: black;
	padding-top: 150px; 
}
#home_title {
	margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

#h_title {
	font-family: 'Josefin Slab', serif;
	color: white;
	font-size: 150px;
	letter-spacing: .01em;
}

#small_title {
	font-family: 'Josefin Slab', serif;
	font-size: 25px;
	padding-left: 35%;
	letter-spacing: .001em;
}

#emmet {
	padding-left: 95%;
}


#profile_pic{
	border:2px solid black;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.prof_left_col {
	padding-bottom: 25px;
}
















